:root {
    --main-bg-color: #f7f7f7;
    --main-txt-color: #222;
    --section-bg-color: #9BA78A;
    --font-primary: 'Quicksand', sans-serif;
    --font-secundary: 'Montserrat', sans-serif;
}

*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-primary);
    color: var(--main-txt-color);
    background: var(--main-bg-color);
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: minmax(250px, 0.4fr) 1fr;
    grid-template-rows: 300px auto;
    grid-gap: 20px;

}

main.content {
    grid-row: 2 / span 1;
}

aside.sidebar--section {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

.post--item {
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 4px;
}

.post--item h2 {
    margin: 10px auto;
    padding: 4px 10px;
    border-left: 4px solid var(--section-bg-color);
    font-size: calc(16px + 0.5vw);
    color: #000;
}

.post--item p {
    text-align: justify;
    margin: 5px auto;
}

.post--item .post_date--item {
    display: inline-block;
    color: #999;
    font-size: 14px;
    margin: 4px 16px
}

.widget {
    margin: 0 auto 15px;
    padding: 10px 15px;
    list-style-type: none;

}

.widget h2 {
    padding: 5px;
    margin: 5px 10px;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
}

.widget p {
    margin: 15px 0;
}

.widget.green {
    background: var(--section-bg-color);
    color: #fff;
    border: 1px solid #88927b;
}

.widget.light{
    border: 1px solid #d9d9d9;
}

.widget .list-url {
    padding: 0;
}

.widget .list-url li {
    list-style-type: square;
    margin: 5px 20px;
}

.widget .list-url li a {
    text-decoration: none;
    color: #88927b;
    transition: color 0.5s ease; 
}

.widget .list-url li a:hover {
    color: red;
}

.button {
    padding: 20px;
    border-radius: 6px;
}

.gallery {
    width: 100%;
    max-width: 1248px;
    text-align: center;
    position: relative;
}

.gallery .buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    top: 50%;
    font-size: 3em;
    font-weight: bold;
}

.gallery a {
    text-decoration: none;
    font-size: 22px;
    /* display: block; */
    width: 30px;
    height: 30px;
    color: var(--gallery-btn);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #666;
    border-radius: 21px;
    position: absolute;
}

.gallery a.prev {
    left: 1%;
}

.gallery a.next {
    right: 1%;
}

.gallery a:hover {
    color: #dfdfdf;
}

.gallery .photos {
    position: relative;
    height: 300px;
}

.gallery .block {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.gallery .block.active {
    opacity: 1;
}

.block-1 {
    background: lightcoral;
}

.block-2 {
    background: teal;
}

.block-3 {
    background: orchid;
}







